.header {
  background-color: #c70424;
  margin: -1.5rem;
  margin-block-end: 0;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 4.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 2.5rem, 70% 2.5rem, 0 100%);
}

.header-shadow {
  filter: drop-shadow(0 0.25rem 0 #000);
  padding-block-end: 0.5rem;
}

.header .light {
  margin-inline-end: 0.5rem;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.header .light.is-big {
  margin-inline-end: 1rem;
  inline-size: 2rem;
  block-size: 2rem;
  background-color: #4ba3da;
  border: 0.125rem solid var(--white);
}

.light.is-red {
  background-color: #f4647d;
}

.light.is-yellow {
  background-color: #feef8d;
}

.light.is-green {
  background-color: #5baa67;
}

.light.is-animated {
  animation: light 0.3s linear infinite;
}

@keyframes light {
  0% {
    background-color: var(--white);
  }
  50% {
    background-color: #4ba3da;
  }
  100% {
    background: var(--white);
  }
}
